[tool.poetry]
name = "cartola"
version = "0.1.0"
description = "Extração de dados da API do CartolaFC, análise exploratória dos dados e modelos preditivos em R e Python - 2014-22. [EN] Data munging, analysis and modeling of CartolaFC - the most popular fantasy football game in Brazil and maybe in the world. Data cover years 2014-22"
authors = ["Henrique Gomide <henriquepgomide@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "3.8.*"
kedro = "0.18.2"
mypy = "^0.982"
Unidecode = "^1.3.6"

[tool.poetry.group.dev.dependencies]
kedro-docker = "^0.3.0"
kedro-telemetry = "^0.2.1"
kedro-viz = "^5.1.1"
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
pytest-mock = "^3.10.0"
pre-commit = "^2.20.0"
jupyterlab = "^3.4.8"
black = "^22.10.0"
flake8 = "^5.0.4"
isort = "^5.10.1"
jupyter = "^1.0.0"
nbstripout = "^0.6.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.kedro]
package_name = "cartola"
project_name = "caRtola"
project_version = "0.18.2"

[tool.black]
line-length = 120

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 120
known_third_party = "kedro"

[tool.pytest.ini_options]
addopts = """
--cov-report term-missing \
--cov src/cartola -ra"""

[tool.coverage.report]
fail_under = 0
show_missing = true
exclude_lines = ["pragma: no cover", "raise NotImplementedError"]

[tool.vulture]
paths = ["src/cartola"]
min_confidence = 80
sort_by_size = true
verbose = true
